In [0]:
import pandas as pd

In [0]:
data = pd.read_csv('/content/NRI@ML.csv')

In [4]:
data.head()

  attended_with  level in statistics  level in python  level in ML
0        laptop                  1.0              2.0          1.0
1        laptop                  1.0              2.0          1.0
2        laptop                  1.0              1.0          1.0
3        laptop                  3.0              3.0          3.0
4        laptop                  1.0              1.0          NaN

In [7]:
data.shape

(190, 4)

In [6]:
data.isnull().sum()

attended_with          0
level in statistics    3
level in python        3
level in ML            4
dtype: int64

In [0]:
data['level in ML']=data['level in ML'].fillna(data['level in ML']).mode()[0]

In [0]:
data['level in python']=data['level in python'].fillna(data['level in python']).mode()[0]

In [0]:
data['level in statistics']=data['level in statistics'].fillna(data['level in statistics']).mode()[0]

In [14]:
data.isnull().sum()

attended_with          0
level in statistics    0
level in python        0
level in ML            0
dtype: int64

In [15]:
data.head()

  attended_with  level in statistics  level in python  level in ML
0        laptop                  1.0              2.0          1.0
1        laptop                  1.0              2.0          1.0
2        laptop                  1.0              2.0          1.0
3        laptop                  1.0              2.0          1.0
4        laptop                  1.0              2.0          1.0

In [0]:
dummies = pd.get_dummies(data['attended_with'])

In [17]:
dummies

     PC  laptop  mobile  tab
0     0       1       0    0
1     0       1       0    0
2     0       1       0    0
3     0       1       0    0
4     0       1       0    0
..   ..     ...     ...  ...
185   0       1       0    0
186   0       0       1    0
187   0       0       1    0
188   0       1       0    0
189   0       0       1    0

[190 rows x 4 columns]

In [0]:
data.drop(['attended_with'],axis=1,inplace=True)

In [0]:
data1=pd.concat([data,dummies],axis=1)

In [27]:
data1

     level in statistics  level in python  level in ML  PC  laptop  mobile  tab
0                    1.0              2.0          1.0   0       1       0    0
1                    1.0              2.0          1.0   0       1       0    0
2                    1.0              2.0          1.0   0       1       0    0
3                    1.0              2.0          1.0   0       1       0    0
4                    1.0              2.0          1.0   0       1       0    0
..                   ...              ...          ...  ..     ...     ...  ...
185                  1.0              2.0          1.0   0       1       0    0
186                  1.0              2.0          1.0   0       0       1    0
187                  1.0              2.0          1.0   0       0       1    0
188                  1.0              2.0          1.0   0       1       0    0
189                  1.0              2.0          1.0   0       0       1    0

[190 rows x 7 columns]